<div layout="column">
		<md-content>
			<md-tabs md-dynamic-height md-border-bottom>
				<md-tab label="Knockout" ng-if="ctrl.shared.removedReactions.length > 0">
					<pv-knockout shared="ctrl.shared" flex></pv-knockout>
				</md-tab>

				<md-tab label="Map info">
					<md-content ng-if="ctrl.info">
						<md-toolbar class="md-theme-light">
							<h1 class="md-toolbar-tools">Map info</h1>
						</md-toolbar>

						<section ng-if="ctrl.info['genotype-changes'].length > 0">
							<md-subheader class="md-primary">Genotype changes</md-subheader>
							<md-list>
								<md-list-item ng-repeat="change in ctrl.info['genotype-changes']">
									{{change}}
								</md-list-item>
							</md-list>
						</section>

						<section>
							<md-subheader class="md-primary">Measurements</md-subheader>
							<div layout="row" ng-repeat="change in ctrl.info['measurements']" class="sidebar-cell">
								<span flex="60">{{ change["name"] }}</span>
								<span>{{ change["measurement"] }} {{ change["unit"] }}/gh<sup>-1</sup></span>
								</div>
						</section>

						<section>
							<md-subheader class="md-primary">Medium</md-subheader>
							<div layout="row" ng-repeat="change in ctrl.info['medium']" class="sidebar-cell">
							<span flex="60">{{ change["name"] }}</span>
							<span>{{ change["concentration"] }}</span>
							</div>
						</section>
					</md-content>
				</md-tab>
			</md-tabs>
		</md-content>
    <!--</div>-->
</div>
