<md-content>
  <pv-panel-item-component
    on-item-select="ctrl.selectedItemChange(item)"
    query-search="ctrl.querySearch(query)"
    placeholder="'Enter the reaction you want to add'"
    missing-items="'No added reactions'"
    header="'Added reactions:'"
    items="ctrl.addedReactions"
    on-remove-item="ctrl.onReactionRemoveClick(item)"
    item-display="ctrl.addedReactionDisplay(item)">
  </pv-panel-item-component>

  <pv-panel-item-component
    on-item-select="ctrl.removeReactionSelectedItem(item)"
    query-search="ctrl.queryModelReactions(query)"
    placeholder="'Enter the reaction you want to remove'"
    missing-items="'No knocked out reactions'"
    header="'Removed reactions:'"
    items="ctrl.removedReactions"
    on-remove-item="ctrl.onUndoClick(item)"
    item-display="ctrl.knockoutDisplay(item)">
  </pv-panel-item-component>
</md-content>
