<md-card name="loadData" novalidate layout="column">
  <md-toolbar ng-class="{'md-primary': ctrl.isActiveObject(), 'md-accent': !ctrl.isActiveObject()}" ng-click="ctrl.setActiveObject()">
    <div class="md-toolbar-tools" layout="row" layout-align="start center">
      <h4 class="md-caption" ng-dblclick="ctrl.startEditing()" ng-hide="ctrl.editing">{{ctrl.getName()}}</h4>
      <form ng-submit="ctrl.stopEditing()">
        <input ng-show="ctrl.editing" class="md-caption" ng-model="ctrl.name" ng-blur="ctrl.stopEditing()" show-focus="ctrl.editing">
      </form>
      <md-button class="md-icon-button" style="right: 0; margin-left: auto" ng-click="ctrl.remove()" ng-hide="ctrl.hideRemoveBtn()">
        <md-icon md-font-icon="clear">clear</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-content layout="column" layout-padding ng-hide="!ctrl.isActiveObject() || ctrl.animating">
    <md-input-container>
      <label>Method</label>
      <md-button class="md-icon-button method"  ng-click='ctrl.showHelp($event)'>
        <md-icon md-font-icon="help_outline">help_outline</md-icon>
      </md-button>
      <md-select name="method" ng-model="ctrl.selected.method" ng-change="ctrl.changeMethod(ctrl.selected.method)" ng-model-options="{trackBy: '$value.id'}">
        <md-option ng-repeat="method in ctrl.methods" ng-value="method">{{method.name}}</md-option>
      </md-select>
    </md-input-container>

    <md-input-container ng-hide="ctrl.isRef()">
      <label>Experiment</label>
      <md-select name="experiment" ng-model="ctrl.selected.experiment" ng-change="ctrl.changeExperiment()" ng-disabled="!ctrl.getExperiments() || ctrl.mapOptions.experiments.length === 0" ng-model-options="{trackBy: '$value.id'}">
        <md-option ng-repeat="experiment in ctrl.getExperiments()" ng-value="experiment">{{experiment.name}}</md-option>
      </md-select>
    </md-input-container>

    <md-input-container ng-hide="ctrl.isRef()">
      <label>Sample</label>
      <md-select name="samples" ng-model="ctrl.selected.sample" ng-change="ctrl.changeSample()" ng-disabled="!ctrl.samples || ctrl.samples.length === 0" ng-model-options="{trackBy: '$value.id'}">
        <md-option ng-repeat="sample in ctrl.samples" ng-value="sample">{{sample.name}}</md-option>
      </md-select>
    </md-input-container>


    <md-input-container ng-hide="ctrl.isRef()">
      <label>Phase</label>
      <md-select name="phase" ng-model="ctrl.selected.phase" ng-change="ctrl.changePhase()" ng-disabled="!ctrl.phases || ctrl.phases.length === 0" ng-model-options="{trackBy: '$value.id'}">
        <md-option ng-repeat="phase in ctrl.phases" ng-value="phase">{{phase.name}}</md-option>
      </md-select>
    </md-input-container>
  </md-content>
</md-card>
