<md-card name="loadData" novalidate layout="column">
  <md-toolbar ng-class="{'md-primary': ctrl.isActiveObject(), 'md-accent': !ctrl.isActiveObject()}" ng-click="ctrl.setActiveObject()">
    <div class="md-toolbar-tools" layout="row">
      <p class="md-caption">{{ctrl.getMethodName()}}</p> -
      <p class="md-caption">{{ctrl.getExperimentName()}}</p> -
      <p class="md-caption">{{ctrl.getSampleName()}}</p> -
      <p class="md-caption">{{ctrl.getPhaseName()}}</p>
      <md-button class="md-icon-button" style="right: 0; margin-left: auto" ng-click="ctrl.remove()" ng-hide="ctrl.hideRemoveBtn()">
        <md-icon md-font-icon="remove">remove_circle_outline</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-content layout="column" layout-padding ng-hide="!ctrl.isActiveObject() || ctrl.animating">
    <md-input-container>
      <label>Method</label>
      <md-select name="method" ng-model="ctrl.selected.method" ng-change="ctrl.changeMethod()">
        <md-option ng-repeat="method in ctrl.getMethods()" value="{{method.id}}">{{method.name}}</md-option>
      </md-select>
    </md-input-container>

    <md-input-container>
      <label>Experiment</label>
      <md-select name="experiment" ng-model="ctrl.selected.experiment" ng-change="ctrl.changeExperiment()" ng-disabled="!ctrl.getExperiments() || ctrl.mapOptions.experiments.length === 0">
        <md-option ng-repeat="experiment in ctrl.mapOptions.experiments" value="{{experiment.id}}">{{experiment.name}}</md-option>
      </md-select>
    </md-input-container>

    <md-input-container>
      <label>Sample</label>
      <md-select name="samples" ng-model="ctrl.selected.sample" ng-change="ctrl.changeSample()" ng-disabled="!ctrl.samples || ctrl.samples.length === 0">
        <md-option ng-repeat="sample in ctrl.samples" value="{{sample.id}}">{{sample.name}}</md-option>
      </md-select>
    </md-input-container>


    <md-input-container>
      <label>Phase</label>
      <md-select name="phase" ng-model="ctrl.selected.phase" ng-change="ctrl.changePhase()" ng-disabled="!ctrl.phases || ctrl.phases.length === 0">
        <md-option ng-repeat="phase in ctrl.phases" value="{{phase.id}}">{{phase.name}}</md-option>
      </md-select>
    </md-input-container>
  </md-content>
</md-card>