<div layout="column" flex>
	<div layout="row">
		<!--<div layout="row" layout-align="center center" flex>-->
			<!--<span class="md-headline">Pathway map</span>-->
		<!--</div>-->
		<section class="floating-menu" layout="column" layout-align="end center" flex>
			<md-button class="md-fab md-primary md-mini" ng-click="ctrl.toggleInfo()">
				<md-icon md-font-icon="info">info</md-icon>
			</md-button>
			<pv-map-selector></pv-map-selector>
			<md-button class="md-fab md-primary md-mini" ng-click="ctrl.showDialog()">
				<md-icon md-font-icon="build">build</md-icon>
			</md-button>
		</section>
	</div>
	<div layout="row" layout-xs="column" class="visualisation-module" flex="100" id="map-panel">
		<md-content flex flex-xs="20" flex-gt-xs="20" ng-show="ctrl.showInfo">
			<pv-sidebar shared="ctrl.shared"></pv-sidebar>
		</md-content>
		<div flex>
			<pv-map shared="ctrl.shared"></pv-map>
		</div>
	</div>
</div>


