<div class="legend" md-whiteframe="4" layout="column">
  <div ng-style="{'background-color': ctrl.background}">
    <md-tooltip md-direction="right">The simulated growth rate for the current model</md-tooltip>
    <div class="growth">
		Growth rate: {{ ctrl.getPredictedGrowth() }} <i>h<sup>-1</sup></i>
    </div>
  </div>
  <md-divider flex></md-divider>
  <md-list>
    <md-list-item>
      <div layout="column" style="width: 100%">
        <span class="md-body-1">Flux</span>
        <div class="grad"></div>
        <div layout="row">
          <span class="md-caption">min</span>
          <span class="md-caption right-span">max</span>
        </div>
      </div>
    </md-list-item>
    <md-list-item>
      <div layout="row">
        <div class="color empty"></div>
        <span class="md-caption legend-text" layout-align="center center">
          No flux
        </span>
      </div>
    </md-list-item>
    <md-list-item>
      <div layout="row">
        <div class="color error"></div>
        <span class="md-caption legend-text" layout-align="center center">
          Not in the model
        </span>
      </div>
    </md-list-item>
    <md-list-item>
        <div layout="row">
          <div class="color glow"></div>
          <span class="md-caption legend-text" layout-align="center center">
            Measured flux
          </span>
        </div>
      </md-list-item>
  </md-list>
</div>
