<md-content class="tab-content">
  <md-card>
    <md-subheader class="md-primary">Model</md-subheader>
    <md-card-content>
      <md-select name="model" ng-model="$ctrl.model" ng-change="$ctrl.changeModel()" flex>
        <md-option ng-repeat="model in $ctrl.modelIds" ng-value="model">{{ model }}</md-option>
      </md-select>
    </md-card-content>
  </md-card>

  <md-card>
    <md-content>
      <md-list>
        <md-subheader class="md-primary">Pathway Maps</md-subheader>
        <md-list-item ng-repeat="map in $ctrl.maps" ng-click="$ctrl.setMap(map)" ng-class="{'active-map': map === $ctrl.selectedMap }">
          {{map}}
        </md-list-item>
      </md-list>
    </md-content>
  </md-card>
</md-content>
