<md-content layout="column">
	<md-input-container style="margin-left: 10px;">
		<label>Model</label>
		<md-select name="model"
				   ng-model="ctrl.model"
				   ng-change="ctrl.changeModel()"
				   flex
		>
			<md-option ng-repeat="model in ctrl.getModels()" value="{{model}}">{{model}}</md-option>
		</md-select>
	</md-input-container>
	<section>
		<md-subheader class="md-accent">Maps</md-subheader>

		<md-list>
			<md-list-item ng-repeat="map in ctrl.maps" >
				<md-button ng-click="ctrl.setMap(map)" style="text-align:left; width: 100%">
					{{map}}
				</md-button>
			</md-list-item>
		</md-list>
	</section>
</md-content>

