<md-content>
	<section ng-if="ctrl.getCurrentGrowthRate()">
		<md-subheader class="md-primary">Results</md-subheader>
		<md-content layout-padding>
			<span class="md-caption">Growth rate: {{ctrl.getCurrentGrowthRate()}}</span>
		</md-content>
	</section>

	<section ng-if="ctrl.getRemovedReactions().length > 0">
		<md-subheader class="md-primary">Removed reactions:</md-subheader>
		<md-list>
			<md-list-item ng-repeat="reaction in ctrl.getRemovedReactions()">
				<span class="md-caption">{{reaction}}</span>
				<md-button class="md-icon-button md-secondary"
						   ng-click="ctrl.onReactionRemoveClick(reaction)"
				>
					<md-icon md-font-icon="close">
						close
					</md-icon>
				</md-button>
			</md-list-item>
		</md-list>
	</section>
</md-content>

