<md-content>
	<section ng-show="ctrl.info['genotype-changes'].length > 0">
		<md-subheader class="md-accent">Genotype changes</md-subheader>
		<md-list layout-padding>
			<md-list-item ng-repeat="change in ctrl.info['genotype-changes']">
								<span class="md-caption" id="genotype"> {{ change | limitTo : 30 }}...
									<md-tooltip md-direction="right">{{ change }}</md-tooltip>
								</span>
			</md-list-item>
		</md-list>
	</section>

	<section>
		<md-subheader class="md-accent">Measurements</md-subheader>
		<md-content layout-padding>
			<div layout="row" ng-repeat="change in ctrl.info['measurements']" class="sidebar-cell">
				<span flex="60" class="md-caption">{{ change["name"] }}</span>
				<span class="md-caption">{{ change["measurement"] }} {{ change["unit"] }}/gh<sup>-1</sup></span>
			</div>
		</md-content>
	</section>

	<section>
		<md-subheader class="md-accent">Medium</md-subheader>
		<md-content layout-padding>
			<div layout="row" ng-repeat="change in ctrl.info['medium']" class="sidebar-cell">
				<span flex="60" class="md-caption">{{ change["name"] }}</span>
				<span class="md-caption">{{ change["concentration"] }}</span>
			</div>
		</md-content>
	</section>
</md-content>
