<md-content>
  <md-card ng-show="ctrl.showGenotypeChanges()">
    <md-content>
      <md-subheader class="md-primary">Genotype changes</md-subheader>
      <md-list layout-padding>
        <md-list-item ng-repeat="change in ctrl.getGenotypeChanges()">
          <span>
              <md-tooltip md-direction="left">{{ change }}</md-tooltip>
              <span class="md-caption"> {{ change | limitTo : 30 }}...</span>
          </span>
        </md-list-item>
      </md-list>
    </md-content>
  </md-card>

  <md-card ng-show="ctrl.getMeasurements()">
    <md-content>
      <md-subheader class="md-primary">Measurements</md-subheader>
      <md-table-container>
        <table md-table>
          <tbody md-body>
            <tr md-row ng-repeat="change in ctrl.getMeasurements()">
              <td md-cell>{{ change.name }}</td>
              <td md-cell><span>{{ change.measurements.join(', ') }} {{ change.units.numerator }} {{ change.units.denominator }}<sup>-1</sup> {{ change.rate }}<sup>-1</sup></span></td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
    </md-content>
  </md-card>

  <md-card>
    <md-content>
      <md-subheader class="md-primary">Medium</md-subheader>
      <md-table-container>
        <table md-table>
          <tbody md-body>
            <tr md-row ng-repeat="change in ctrl.getMedium()">
              <td md-cell>{{ change["name"] }}</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
    </md-content>
  </md-card>
</md-content>
